
.header {
    margin: 10px 15px;
    padding: 5px 0;
    background: #4a90e2;
    border-radius: 15px;}

.header h1 {
    color: white;
    text-align: center;
    font-family: sans-serif;
    text-shadow: 1px 1px #333;}

.container {
    margin: 10px 15px;
    padding: 10px;
    background: #e9ecef;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 12px;
    border-radius: 15px;}

.sidebar {
    margin: 10px;
    padding: 0 10px;
    background: #a8dadc;
    grid-column: 1 / span 3;}

.sidebar ul {
    list-style-type: none;
    padding: 10px;}

.sidebar li {
    margin: 10px 0;
    background: #457b9d;
    color: white;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;}

.sidebar li:hover {
    background: #1d3557;}


.content {
    margin: 10px;
    padding: 10px;
    background: #f1faee;
    grid-column: 4 / span 9;}

.content img {
    display: block;
    margin: 0 auto;
    width: 30%;}

.content p {
    color: #333;}

.footer {
    margin: 10px 15px;
    padding: 5px 0;
    background: #343a40;
    border-radius: 15px;}

.footer h3 {
    color: white;
    text-align: center;
    font-family: monospace;}
